// sidebar
$menuText:#333;
$menuActiveText:#f70;
$subMenuActiveText:#c07700; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#e7e2e0;
$menuHover:#a7a7a05e;

$subMenuBg:rgba(140, 140, 140, 0);
$subMenuHover:rgba(140, 140, 140, 0.183);

$sideBarWidth: 230px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
